<div class="row">
	<div class="col-sm-12">
		<h1 class="title-left">About</h1>
		<p class="about-p">
		This is a project for the CPS530 assignment. Foofly is a social network for food lovers. You can post pictures of your favourite meals along with thier recipes or you can browse and see what others users have posted. Whether you love to take pictures of food or just love looking at food, then this is just the place for you.
		Goodluck and have fun at Foodly :P  
		</p>
	</div> 
</div>
<hr class="divider"/>
<div class="row">
	<div class="col-sm-12">
		<h1 class="title-right">User Guide</h1>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<div class="meal">
			<h1 class="center">Home page</h1>
			<p class="about-p">Upon visiting the main page of the website, you will be presented with an image with the name of the website on the center of the page, this is the home page. By clicking on the “F” icon on the top left corner of the web page, a sidebar will appear from the left displaying a list of options the user can navigate to from the home page. </p>
		</div>
    </div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<div class="meal">
			<h1 class="center">Sign up</h1>
			<p class="about-p">To sign up for Foodly, click on the signup link in the sidebar. Once the signup page loads, enter your name, a valid email address to be used to log in with and password in the appropriate text boxes. Clicking signup on this page will create the account with the entered information and will now allow you to access the rest of the site.</p>
		</div>
    </div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<div class="meal">
			<h1 class="center">Login</h1>
			<p class="about-p">To login, click the “F” in the top left of the page to reveal the sidebar. Click on “Login” to be directed to the login page where you will be requested to enter your email and password that you used when creating your profile during the signup process.</p>
		</div>
    </div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<div class="meal">
			<h1 class="center">Logout</h1>
			<p class="about-p">To logout of your profile click on the “F” on the top left of the page to reveal the sidebar. Click the logout out button and you will then be signed out of your profile.</p>
		</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
		<div class="meal">
			<h1 class="center">My Profile</h1>
			<p class="about-p">To view your main profile page you will first be signed into your profile. Once signed to your profile click the “F” on the top left of your page to reveal the sidebar. Click on “My Profile” to be brought to your profile page where you can post new meals and view other meals other users have created.</p>
		</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
		<div class="meal">
			<h1 class="center">Creating a Meal</h1>
			<p class="about-p">To create a meal you need to be signed in and on your “My Profile” page. Once there, click on the “F” on the top left and click create meal. You will now be presented by a new page when you enter the name of your meal, the price of your meal, and finally an image that you can upload to represent your meal. Once you finished entering the information and uploaded an image click Submit to submit your meal to your profile for others to view.</p>
		</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
		<div class="meal">
			<h1 class="center">Editing your Profile</h1>
			<p class="about-p">To change your profile picture or name, navigate to your “My Profile” Page. On the top right of your profile page, click on the pen icon to edit your profile. Here you will be able to change your name and your profile picture. Type in a new name to change your name, or/and click on upload file to choose a new profile picture, once done click on the checkmark on the top right of the edit page to save your changes.</p>
		</div>
    </div>

</div>
<hr class="divider"/>
<div class="row">
	<div class="col-sm-12"><h1 class="title-left">The Team</h1></div>
	<div class="col-sm-4">
		<div class="about-team">
			<div class="circle team-member-1"></div>
			<label>Igar Liubavetskiy</label>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="about-team">
			<div class="circle team-member-2"></div>
			<label>Vitaliy Krasylovets</label>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="about-team">
			<div class="circle team-member-3"></div>
			<label>Richard Oliveira</label>
		</div>
	</div>
</div>